language: java
cache:
  directories:
  - $HOME/.m2
before_install:
- openssl aes-256-cbc -K $encrypted_408b1194d341_key -iv $encrypted_408b1194d341_iv
  -in deployment/signingkey.asc.enc -out deployment/signingkey.asc -d
install: true
script: mvn clean verify --file pom.xml --batch-mode --define gpg.skip
after_success:
- >
  mvn versions:set
  --file maven-plugin/pom.xml
  --batch-mode
  --define newVersion=0.19.${TRAVIS_BUILD_NUMBER}
- gpg2 --keyring=$TRAVIS_BUILD_DIR/pubring.gpg --no-default-keyring --import deployment/signingkey.asc
- gpg2 --allow-secret-key-import --keyring=$TRAVIS_BUILD_DIR/secring.gpg --no-default-keyring
  --import deployment/signingkey.asc
- >
  mvn clean deploy
  --file maven-plugin/pom.xml
  --batch-mode
  --settings deployment/settings.xml
  --define gpg.executable=gpg2
  --define gpg.keyname=B07746099C297F239C1C4343E16B0657F1774582
  --define gpg.passphrase=$PASSPHRASE
  --define gpg.publicKeyring=$TRAVIS_BUILD_DIR/pubring.gpg
  --define gpg.secretKeyring=$TRAVIS_BUILD_DIR/secring.gpg
  --define maven.skip.install=true
  --debug
env:
  global:
  - secure: qiYnGrLYCvDZQDXDBraP+20HZfC++G/AVQMw2Y63lKxScHnMaG4uVwX1O6aDnsSLNSNGrESw4pC/cjvnhYNVUJ+jQUCWFiF4qk7+spkkE7b0PATuLijPqmPq7R6D9N4qqs7fDhEHEhjGSXJsNWLRFiVuHQkdmKNpGaYkaiFnRKdXkjYM/OjSeIkJptvsro4wIxaXdDaVeaDr9rzYfy9LmLFtJ5SfLZO+t+7pX+r5EB1PPlKa4eSuqHw3gMMNLiyRyBeHbaD6MBZJLa9fSYvTKxY9DDpFZc8pNoSwkbaJ/JibaHH4BBFOEtf+GwAYtbviZ+jaeZ1oZxbHTO3sjrf6a/yWFKDv6yKmtv+8HNIABsZtTJippmZHqXdm4BQue9UQmOORHfiWIjcRIyUZKtUZRzdNRWiNY0mfonhWmoB5KJTb63Q8qEBnSKqEBZSsgK1kQpX2ZPrn5dWeOqJrttT2aZEzpOVb7gZv/yjZvCjbgYmZ/SrcY4uimuzi2Id6Q4DkKOlMPhcCOJvgv5oXAQBP4VixyNcRzqNPTYRcTdajN5z9M/hQ5dagz6l6lKkH4bYBwbZuBHRjJiejv5aZej2ILH1zoqd4XoE39VG/PssrBmseDhEX1NAOiwkbMRpD/Q4PQgH28S07Ph1WiRPUBTHSs8bRuHbrVkHXFnze3Q0LlVw=
  - secure: ZBazfo++G7tlXHv+C3n/RCqlJMAROjSGdyHR1fwpYMyZxfaSY5GS0Oe9uP22frV9NhjFCaBE1KPsI5LpUKSX2fNUL+gE6HVawhOwxvxNs7cMzxPHqq6F7G+xT7e+DGNPeOkUtntXAN1t+n56RpXIWcxTFvCggBAidm/YxwdfP8Jz6jbGcYRSgxtzfsK+xs3VtSVzviLsKpW/WqDgDoDx+Kzak0S4GgnTeV+ba2/4mE8dx0ZLVFhpRhAlR28QkzJcI47QUmTtPCf2vO11009RYkGPjzzxERa4W1jC2DMzagrARkReGmEMB61Y9Yf+Rd4pRXE5AEBU8YfwuzntiSYDQzvoliWNhu5E6doEKVbTWclPtBzlLgouRoka9RViZRJ5uUuCjD4QfFKHP14MEFHgO3Jjah7ldxFBiayiYIKhtnqN5p/6KLRvXqSOs5eb8Os84bAz6FqP0rLMKPpgKi+yEsp2oDVkSh6x0lKvj1DdKWDhRDmThAdfP8TY0mAxozcGolFxsdXnSLlu5OXL7qXxllHAoXqqY72IlOkaU4Uc5iMpxbC6UkQLbYz+3Jw4AL9IhNBUUMct0UHEwe+9DZsjIK7ulZxksOoRBZQUsVenu0Frb3+0RqhfhKbz4CD48iJA+LfU2iRnjkW3P3YR/6dzqz8M1RvfwiTS7GjpuMRq2cQ=
  - secure: cq96yJnEyAYfP82WW99J/8IeuZ408TVzttcJQwHcGisg3AQ5I+au48r9mB/izK2XeaOC9KX+ECSc3rgHKXksdrL7wzs/Q2vknpaHO0T17HjxWbZ/FxUPXbZNq6NME3VRyhDE6dCiUFXDDbNs+7wpNNi2jwHa4NahDid3wMzFCdNmXt5tSYCKq81zfBy0b9vffgXsXD/y11cBYpR2bVQM6X+XTH5AzuLYhwcYVgjvqxasMrNG3zM/rM+2+W/V1ZxAUF3q/QKUpPUGHidpQ/gp6dFm89pVWI0I6iYv4hG1ecuOiLqArreIWgN5WU8SFs1IOWow4ln19xkyXno6wzO15GxqjudtHqUYmcqJgpvmFhhe5E02krryzsuou9puRi4NRhhx8ZWOp0iaIIQ9V91gXPT7GAF2kHdREjjd7wZpwXxqH1hNEWFZfGcCFTDOQfqhy81/X3n96uwOlYof7yPQK4WhYIyZyndrTMZt8F4ILvJzqddYiWzoAItJmXus2RcH6rXpYUYwIgt9YxE5nZESHldJ17UTMD4qqFW4EIpYq8ziEjbcOBK7yjqHnaRtnXdpLMss5+84e79OdULHRNMjx0mCTS9BEqQDkfAGwqtU5utoCH2oNMkcmo0knelWQIzxu5fC2edpa2qtLhIug85ztl/4YGB6yW08WMY0Da8lI2U=
